@use '../../assets/styles/variables.scss' as *;

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  grid-column-start: 2;
  margin-left: 50%;
  font-size: 20px;
  color: $color-primary;
  

  &--arrow {
   width: 40px;
   height: 20px;
   text-align: center;
   cursor: pointer;
  }

  &--page {
    font-family: $font-paragraph;
  }
}

@media screen and (max-width: 500px) {
  .pagination {
    margin-left: 25%;
  }
}