@use '../../assets/styles/variables.scss' as *;

.beer__card {
  border: 1px solid $color-borders;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 340px;
  height: 400px;
  margin: 10px;
  padding: 10px;
  background-color: #fff;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  }

  .beer__image-background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: $color-secondary;
    padding: 10px;
    border-radius: 8px;

    .beer__image {
      width: 80%;

      img {
        width: 20%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .beer__header {
    font-size: 1.5rem; 
    font-weight: bold;
    margin: 16px 10px 8px;
    color: $color-dark;
    font-family: $font-title;
    letter-spacing: 1px; 

    &:hover {
      text-decoration: underline;
    }
  }

  .beer__year {
    font-size: 1rem;
    color: $color-gray;
    margin: 0 10px 24px;
    font-family: $font-paragraph;
  }

  .beer__button {
    background-color: white;
    color: $color-dark;
    border: 1px solid $color-primary-dark;
    border-radius: 4px;
    padding: 10px 20px; 
    margin: 0 10px 30px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-family: $font-paragraph;

    &:hover {
      background-color: lighten($color-primary-dark, 15%);
      color: $color-primary;
    }
  }
  

    .beer-hover__title {
      font-size: 1.5rem;
      margin: 10px;
      letter-spacing: 3px;
      color: $color-dark;
      font-family: $font-title;
    }
  
  .beer__image-background-hover {
    display: flex;
    height: 50%;
    background-color: $color-secondary;
    padding: 10px;
    border-radius: 8px;
  }
  
    .beer__image-hover {
        img {
          width: 40px;
        }
    }
       
    .beer__info-hovered .beer-card__food-pairing {
      list-style: none;
      padding: 0;
      color: $color-primary-dark;
      font-family: $font-paragraph;
    }
  
    .beer__info-hovered .beer-card__food-pairing li {
      color: $color-primary-dark;
      font-family: $font-paragraph;
    }
  }




@media screen and (max-width: 500px) {
  .beer__card {
    width: 220px;
    height: 320px;
    text-align: center;
  
    .beer__image-background {
      height: 40%;
  
      .beer__image {
        display: flex;
        width: 90%;
        justify-content: center;
      }
    }
  
    .beer__header {
      font-size: 1.4rem; 
    }
  }
}