@use "../../assets/styles/variables.scss" as *;

.nav__menu {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: $color-primary;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .nav-menu__link{
    text-decoration: none;
  }

  .nav-menu__heading {
    margin-top: 24px;
    font-size: 1.5rem;
    font-weight: bold;
    color: $color-primary-dark;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: $font-title;
    letter-spacing: 2px;

    &:hover {
      color: darken($color-primary-dark, 10%);
    } 
  }

  .nav__search-box {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    .search-box__text {
      font-size: 1rem;
      padding: 8px 16px;
    }

    h2 {
      margin-right: 20px;
      font-size: 1.2rem;
    }
  }

  .nav__checkboxes {
    display: flex;
    flex-direction: column;
    margin-top: 24px;

    .nav__checkbox-option {
      display: flex;
      margin-bottom: 20px;

      label {
        font-size: 1rem;
        font-family: $font-paragraph;
        margin-left: 8px;

        &:hover {
          cursor: pointer;
        }
      }

      input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid #ccc;
        border-radius: 4px;
        outline: none;
        cursor: pointer;
        margin-right: 10px;
      }

      input[type="checkbox"]:checked {
        background-color: $color-gray;
        border-color: $color-gray;
      }
    }
  }
}
