@use "../../assets/styles/variables.scss" as *;

.beer-info {
  display: flex;
  border-radius: 8px;
  margin-bottom: 20px;
  color: $color-primary;
  font-family: $font-paragraph;
  background-color: $color-primary-dark;

  &__banner {
    flex: 1;
    min-width: 100px;
    position: relative;

    img {
      width: 60%;
      height: auto;
      display: block;
      margin-left: 30px;
      margin-top: 44px;
    }
  }

  &__title {
    margin-top: 16px;
    font-family: $font-title;
    color: $color-secondary;
  }

  &__content {
    flex: 2;
    padding: 20px;

    h2 {
      font-size: 4rem;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 20px;
    }

    .ingredients-toggle {
      margin-top: 30px;
      font-size: 1.5rem;
      font-family: $font-title;
      letter-spacing: 1px;
      cursor: pointer; 
      position: relative; 
    }
    
    .ingredients-toggle::after {
      content: "▼";
      position: absolute; 
      top: 50%; 
      right: 0; 
      transform: translateY(-50%);
      transition: transform 0.3s ease; 
    }
    
    .ingredients-toggle.open::after {
      transform: translateY(-50%) rotate(180deg);
    }
    

    .beer-info__list {
      margin-bottom: 20px;

      ul {
        list-style: none;
        padding-left: 0;
        margin-top: 0;
      }

      li {
        margin-bottom: 5px;
      }
    }

    .beer-info__heading {
      font-size: 1.2rem;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .beer-info__facts {
      list-style-type: none;
      padding-left: 0;
      margin-top: 0;

      li {
        margin-bottom: 10px;
        font-family: $font-paragraph;
      }

      ul {
        list-style-type: circle;
        padding-left: 20px;
        

        li {
          margin-bottom: 5px;
        }
      }
    }
  }
}
