@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

$color-primary: #f8f9fa;
$color-primary-dark: #1A1919;
$color-secondary: #F6CE5B;
$color-dark: #34495e;
$color-gray: #808080; 
$color-borders: #ddd;

$font-title: 'Bebas Neue';
$font-paragraph: 'DM Sans';