@use '../../assets/styles/variables.scss' as *;

.nav {
  background-color: $color-primary-dark;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  .menu-icon,
  .black-cross {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  .menu-icon {
    margin-left: 10px;
  }

  .black-cross {
    width: 30px;
    height: 30px;
    margin: 10px;
    margin-right: 10px;
  }
}
